.logo {
    display: block;
}

/* 3-login */
.secondary-button {
    width: 300px;
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
}

/* 4-create account */
.form-container {
    height: 100%;
}
.form {
    height: 100%;
    justify-content: space-between;
}

/* 6-home */

.cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
}
.product-card {
    width: 140px;
}
.product-card img {
    width: 140px;
    height: 140px;
}

/* 11.navbar */

.menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }

/* 12.product */
  .product-detail {
    width: 100%;
}


/* 13.carrito */
.product-detail {
  width: 100%;
}